<%= form_for :target, method: :post do |form| %>
<<<<<<< HEAD
  <h4 class="sidebar-subtitle">CREATE NEW TARGET</h4>
  
  <%= form.label :title, "Target Title" , class: 'sidebar-input-label' %><br>
  <%= form.text_field :title , class: 'sidebar-input-text' %><br>

  <%= form.label :size, "Area Length (in metres)" , class: 'sidebar-input-label' %><br>
  <%= form.text_field :size , class: 'sidebar-input-text' %><br>

  <%= form.label :topic , "Select a Topic" , class: 'sidebar-input-label' %><br>
  <%= select("target", "topic", options_for_select(@topics), {:include_blank => "What do you want to talk about?"} , class: 'sidebar-input-text') %><br>
=======
  <h4 class="sidebar-subtitle"><%=t(:title_create_new_target)%></h4>
  
  <%= form.label :title, t(:label_title) , class: 'sidebar-input-label' %><br>
  <%= form.text_field :title , class: 'sidebar-input-text' %><br>

  <%= form.label :size, t(:label_size) , class: 'sidebar-input-label' %><br>
  <%= form.text_field :size , class: 'sidebar-input-text' %><br>

  <%= form.label :topic , t(:label_topic) , class: 'sidebar-input-label' %><br>
  <%= select("target", "topic", options_for_select(topics), {:include_blank => t(:topics_blank_option)} , class: 'sidebar-input-text') %><br>
>>>>>>> create-targets
    
  <%= form.hidden_field :latitude %>
  <%= form.hidden_field :longitude %>
    
<<<<<<< HEAD
  <%= form.submit 'SAVE TARGET', :class => 'sidebar-form-button' %>  
=======
  <%= form.submit t(:btn_save_target), :class => 'sidebar-form-button' %>  
>>>>>>> create-targets
<% end %>
