<div id="sidebar" class="text-wrapper col-md-3">
  <%= render "shared/sidebar", target: @target %>
</div>
<div id="content" class="col-md-9">
  <%= render "shared/map", targets: @targets %>
</div>

<script>
  $(document).ready(function() {
    var formNewTarget = $('#form_new_target');

    formNewTarget.on('ajax:success', handleTargetCreated);
    formNewTarget.on('ajax:error', showErrorAlert);

    function handleTargetCreated(event) {
      toastr.success('<%=I18n.t(:alert_success_target_created)%>');
      var target = event.detail[0]['target'];
      formNewTarget.trigger('reset');
      hideSelectedMarker();
      addTargetInMap(target);
    }

    function addTargetInMap(target){
      var pos = { lat: parseFloat(target.latitude), lng: parseFloat(target.longitude) };
      addTargetCircle(pos, target.size);
      addTargetTopic(pos, target.topic);
    }

    function showErrorAlert(event) {
      var errors = event.detail[0]['errors'];
      if (errors.latitude) {
        toastr.warning('<%=I18n.t(:alert_error_target_not_set)%>');
      } else {
        if (errors.size) {
          toastr.warning('<%=I18n.t(:alert_error_target_size_invalid)%>');
        } else {
          toastr.warning('<%=I18n.t(:alert_error_target_data_incomplete)%>');
        }
      }
    }
  });
</script>
