<%# SIDEBAR HEADER %>
<div id="sidebar_header">
  <a href="#" class="sidebar-menu-icon"><i class="fa fa-bars"></i></a>
  <h1 class="sidebar-title"><%=I18n.t(:title_target)%></h1>
</div>

<%# SIDEBAR USER %>
<div id="sidebar_user">
  <%= render "shared/sidebar_user" %>
  <div class="line"></div>
</div>

<%# SIDEBAR CONTENT %>
<div id="sidebar_content" class="sidebar-content">
  <div id="sidebar_compatible_targets">
    <%= render "targets/compatible_targets", compatibles: compatibles %>
  </div>
  <div id="sidebar_new_target" class="hidden">
    <%= render "targets/new_target", target: target %>
  </div>
  <div id="sidebar_chat"></div>
</div>

<%# SIDEBAR FOOTER %>
<div id="sidebar_footer">
  <%= image_tag("smilies.png", class: "smilies-bottom", size: "48x28") %>
</div>
