<div id="content" class="text-wrapper col-md-6">
  <%= image_tag("smilies.png", class: "smilies-main", size: "133x78") %>
  <h1 class="user-form-title"><%=I18n.t(:title_change_password)%></h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render 'users/shared/error_messages', object: resource %>

    <%= f.hidden_field :reset_password_token %>

    <%= f.label :password, I18n.t(:label_user_new_password), class: 'user-form-input-label' %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'user-form-input-text' %>

    <%= f.label :password_confirmation, I18n.t(:label_user_confirm_password), class: 'user-form-input-label' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'user-form-input-text' %>

    <%= f.submit I18n.t(:btn_change_password), class: 'user-form-form-button' %>

    <div class="line"></div>
    <%= link_to I18n.t(:btn_sign_in), new_session_path(resource_name), class: 'user-form-link' %><br />
    <%= link_to I18n.t(:btn_sign_up), new_registration_path(resource_name), class: 'user-form-link' %><br />
  <% end %>
</div>

<div class="static-side col-md-6">
  <%= render "shared/static_side"%>
</div>
